body {
	margin: 0;
	padding: 20px;
	background-color: #FFFFFF;
	color: #333333;
	font-size: 13px;
	font-weight: normal;
	font-family: Verdana, Arial, sans-serif;
}

h1 {
	padding-bottom: 0.2em;
	border-bottom: 2px solid #333333;
}

h2 {
	padding-bottom: 0.2em;
	border-bottom: 1px solid #333333;
}

.debug-code {
	border: 5px solid #DDDDDD;
}

.debug-code .code-header,
.debug-code .result-header {
	padding: 5px;
	color: #333333;
	background-color: #DDDDDD;
}

.debug-code .code,
.debug-code .result {
	margin: 0;
	padding: 10px;
	font-family: Menlo, Monaco, Consolas, monospace;
	font-size: 12px;
	color: #333333;
	background-color: #EEEEEE;
	display: block;
	z-index: 1000;
	overflow: auto;
	tab-size: 4;
	-moz-tab-size: 4;
}

.debug-code .code code {
	margin: 0;
	padding: 0;
}
