body {
	margin: 0;
	padding: 20px;
	background-color: #FFFFFF;
	color: #333333;
	font-size: 13px;
	font-weight: normal;
	font-family: Verdana, Arial, sans-serif;
}

h1 {
	padding-bottom: 0.2em;
	border-bottom: 2px solid #333333;
}

h2 {
	padding-bottom: 0.2em;
	border-bottom: 1px solid #333333;
}

pre.code {
	margin: 20px 0;
	padding: 10px;
	font-family: Menlo, Monaco, Consolas, monospace;
	font-size: 12px;
	color: #333333;
	background-color: #EEEEEE;
	border: 5px solid #DDDDDD;
	border-radius: 0;
	display: block;
	z-index: 1000;
	overflow: auto;
	tab-size: 4;
	-moz-tab-size: 4;
}

pre.code div.code-result-header {
	padding: 10px 0;
	margin: 10px -10px;
	color: #333333;
	background-color: #DDDDDD;
}
